<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.WPF.Animation" version="1.0.2" targetFramework="net452" />
  <package id="Extended.Wpf.Toolkit" version="2.6" targetFramework="net452" />
  <package id="ILMerge" version="2.14.1208" targetFramework="net40" />
  <package id="ILRepack" version="2.0.10" targetFramework="net40" />
  <package id="Wpf.Themes" version="1.1.0" targetFramework="net452" />
  <package id="WPFThemes.DarkBlend" version="1.0.8" targetFramework="net452" />
</packages>